.box1{
    background-color: #6df3f3;
    height: 120px;
}

.box2{
    background-color: #6df;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
}