.imagem2{
    background-image: url(https://i.imgur.com/bL6R12j.jpg);
    background-repeat: no-repeat;
    width: 70vh;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}